@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap");

:root {
  /* --textColor: #36454f; */
  --textColor: #212529;
  --lightBackground: #faf9f6;
  --btnBorder: #fa5252;
  --btnBackground: #ff8787;
  /* --cardBackground: rgba(255, 255, 255, 0.692); */
  --cardBackground: rgba(255, 255, 255, 0.507);

  --fontStyle: "Montserrat", sans-serif;
}

* {
  font-family: var(--fontStyle);
  letter-spacing: 0.05rem;
  color: var(--textColor);
  margin: 0;
  padding: 0px;
}

body {
  background-color: var(--lightBackground);
}

.aside-1 {
  margin: 0.75rem;
  border: double 10px var(--textColor);
  padding: 5rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem 1.5rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.aside-1 h2 {
  grid-column: 1 / span 3;
  align-self: flex-start;
  font-size: 2rem;
}

.aside-2 {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 5rem;
}

.aside-2 h4 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 3;
  font-size: 4rem;
  flex-wrap: wrap;
  background-color: var(--btnBackground);
  padding: 1.75rem;
  margin-right: 2.75rem;
  border: 2px solid #212529;
  filter: drop-shadow(0.5rem 0.5rem 0.5rem var(--textColor));
}

.aside-2 img {
  border: 2px solid black;
  filter: drop-shadow(0.5rem 0.5rem 0.5rem var(--textColor));
  height: 25rem;
}

.aside-2-images {
  display: grid;
  grid-row: 1 / span 3;
  grid-column: 1 / span 3;
  grid-template-columns: repeat(6, 1fr);
}

.aside-2-image-1 {
  grid-column: 3;
  grid-row: 1 / span 3;
  align-self: flex-end;
  margin-left: -3rem;
  margin-bottom: 9rem;
}

.aside-2-image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25.25rem;
  background-color: #2b2a2a77;
  border: 2px solid var(--textColor);
}

.aside-2-image-1-placeholder {
  width: 16.9169rem;
  grid-column: 3;
  grid-row: 1 / span 3;
  align-self: flex-end;
  margin-left: -9rem;
  margin-bottom: 9rem;
}

.aside-2-image-1-placeholder {
  width: 20.2531rem;
}

.aside-2-image-1-placeholder {
  width: 37.7469rem;
}

.aside-2-image-2 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 3;
  justify-self: center;
  z-index: -1;
  margin-right: -5rem;
}

.aside-2-image-3 {
  justify-self: center;
  grid-row: 1 / span 3;
  grid-column: 1 / span 3;
  z-index: -1;
  margin-left: -15rem;
}

.btn {
  font-size: large;
  border: 2px solid var(--btnBorder);
  background-color: var(--btnBackground);
  font-weight: 500;
  border-radius: 0.75rem;
  width: 12rem;
  height: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--btnBorder);
  transition: background 300ms;
}

.card-1 {
  grid-column: 1 / span 1;
}

.card-2 {
  grid-column: 2 / span 1;
}

.card-3 {
  grid-column: 3 / span 1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  height: 6rem;
  background-color: var(--btnBackground);
  filter: drop-shadow(00.5rem 0.5rem 0.5rem var(--textColor));
  transform: skewX(-25deg);
}

.card h4 {
  margin-bottom: 0.5rem;
}

.card p:last-of-type {
  margin-top: 0.5rem;
}

.card h4,
.card p {
  transform: skewX(25deg);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.Navbtn {
  border: none;
  background: transparent;
  font-size: larger;
  width: auto;
  padding: 0.2rem;
}

.Navbtn:hover {
  font-weight: bold;
  background-color: var(--btnBackground);
  transform: skewX(-30deg);
  transition: background 500ms ease-in, transform 500ms ease-in;
}

.Navbtn button:hover {
  transform: skewX(25deg);
}

.footer {
  text-align: center;
  margin-bottom: 1rem;
}

.footer span {
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

.nav-btns {
  display: flex;
  gap: 0.5rem;
  margin-right: 25rem;
}

.main-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  background-color: rgba(255, 255, 255, 0.692);
  border: 2px solid var(--textColor);
  border-radius: 0.75rem;
  width: 50rem;
  padding: 1rem;
  margin-top: 4rem;
}

.main-text p {
  margin: 0.75rem;
}

.main-text h2 {
  margin-bottom: 4rem;
}

.main-image {
  background-image: url("./Images/wepik-export-20230806224041x2AU.png");
  background-repeat: no-repeat;
  border-top: solid 2px var(--textColor);
  border-bottom: solid 2px var(--textColor);
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding: 2rem;
}

.main-text2 {
  display: grid;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: var(--btnBackground);
  height: 3rem;
  width: 17rem;
  transform: skewX(-30deg);
}

.header h1 {
  transform: skewX(25deg);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 3rem;
  margin-left: -15.5rem;
  background-color: var(--btnBackground);
  transform: skewX(-30deg);
}

.logo h1 {
  transform: skewX(25deg);
}

.mt-5 {
  margin-top: 5rem;
}

.text-center {
  text-align: center;
}

/* ABOUT PAGE STYLES */

.about {
  width: 80%;
  font-size: larger;
}

.about h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.about h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btnBackground);
  width: 22rem;
  height: 3rem;
  transform: skewx(-30deg);
}

.about h3 span {
  transform: skewX(30deg);
}

.about p {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.about li {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  list-style: none;
}

.about li h4 {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: fit-content;
  margin-bottom: 1rem;
  background-color: var(--btnBackground);
  transform: skewX(-30deg);
}

.about li span {
  transform: skewX(30deg);
}

.about h2 {
  font-size: larger;
  margin-bottom: 2rem;
}

.border-box {
  border: 5px double var(--textColor);
  padding: 0.75rem;
  box-shadow: 12px 12px 10px 2px var(--textColor);
}

.key-features-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 5rem;
  row-gap: 5rem;
  margin-top: 4rem;
}

.kf-card {
  padding: 1rem;
  border: 5px double var(--textColor);
  border-radius: 8px;
  box-shadow: 10px 10px 10px var(--textColor);
  text-align: center;
  grid-column: span 3;
}

.kf-card h4 {
  font-size: larger;
  margin-bottom: 1rem;
  text-decoration: underline;
  text-underline-offset: 6px;
}

/* Login Page Styles */

.image-background {
  background-image: url("./Images/live-such-moments-as-these.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 2px solid #212529;
  margin-top: 2rem;
  height: 75rem;
  z-index: -1;
}

.forgot-pass,
.forgot-pass p,
.forgot-pass a,
.forgot-pass button {
  display: flex;
  justify-content: space-evenly;
  color: blue;
  text-decoration: none;
  width: 10rem;
  border: transparent;
  background: transparent;
  cursor: pointer;
  font-size: medium;
}

.forgot-pass a:hover,
.forgot-pass button:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--cardBackground);
  border-radius: 0.75rem;
  border: 2px solid var(--textColor);
  width: 30%;
  margin-top: 15rem;
  padding: 2rem;
}

.email,
.password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: larger;
}

.email input,
.password input {
  margin-top: 1rem;
  height: 1rem;
  padding: 0.5rem;
  width: 20rem;
  font-size: 1rem;
}

.password input {
  font-size: 1.75rem;
}

.verification {
  display: inline-flex;
  justify-content: flex-end;
}
